*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    background: #c4f5d6;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5rem solid #ccc; 
    margin-bottom: 20px;
}

#local-storage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background: #3498db;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
}
